#Image {
	display: block;
	margin: 0 auto 15px;

	@media #{$tabletUp} {
		margin: 0;
		padding-right: 15px;
	}
}

#Details {

	@media #{$tabletUp} {
		text-align: left;
	}

	.label {
		font-weight: 700;
	}

	.centerDetails {
		display: table;
		margin: 0 auto;

		@media #{$tabletUp} {
			display: initial;
			margin: o;
		}
	}
}

.buttons a {
	text-decoration: none;
	color: orange;
}

.buttons {
	color: #fff;
}

.detailrow {
	margin: 0 !important;
}

